*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	
}

.backImg{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(../images/image10.jpg);
	background-size: cover;
	background-position: center;
}
.nav{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
	text-decoration: none;
}
.nav .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.nav.sticky .logo a span{
    color: #fff;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.nav ul li a{
	font-weight: 120px;
	text-decoration: none;
	color: white;
	text-transform:uppercase ;	

}

.nav ul li::after
{
	content: '';
	height: 3px;
	width: 0;
	background:#c70e27;
	position: absolute;
	left: 0;
	bottom:-10px;
	transition: 0.5s;

}
.nav ul li:hover::after
{
	width: 100%;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.title h1{
	color: white;
	font-size: 90px;
	font-family: sans-serif;
}

/*image section*/

.row{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.offers{
	  width: 80%;
	  margin: auto;
	  margin: auto;
	  text-align: center;
	  padding-top: 100px;
}

.offer-col{

	  flex-basis: 31%;
	  border-radius: 10px;
	  margin-bottom: 5%;
	  text-align: left;
}
.offer-col img{
	  width: 100%;
	  height: 90%;
	  border-radius: 10px;
}
.offer-col p{
    padding: 0;
}
.offer-col h3{
	  margin-top: 16px;
	  margin-bottom: 15px;
	  text-align: left;
}
a{
	text-decoration: none;
}


/* footer section */

footer{
	position: absolute;
	top: 270%;
	background: rgb(0, 8, 10);
	padding: 15px 23px;
	height: auto;
	width: 100vw;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(247, 244, 244);
  }

  footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
